@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* paleta */
:root{
    --primaria:#353434;
    --branco:#fff;
    --dark:#1e1c2a;
    --secundaria: #414040;
    --fundo: #5b5a5a;
}

/* body */
body{
    color: var(--dark);
    background: var(--branco);
}

/* Header */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--branco);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--primaria);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.logo-btn{
    padding: 15px 45px;
    background: var(--primaria);
    color: var(--branco);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.logo-btn:hover{
    background: #252323;
}
.logo-img img{
    width: 100%;
}

.navigation ul li a:hover{
    color: var(--primaria);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--primaria);
}

/* conteúdo da página*/

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--branco);
    align-items: center;
    margin-left: 22rem;
}

main h1{
    align-items: center;
    color: var(--dark);
    font-size: 3rem;
    margin-bottom: 3rem;
}

main .social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .alternative {
    margin-top: 1rem;
}

.main .alternative span {
    font-size:  1.1rem;
    font-weight: 400;
    color: var(--dark);
    position: absolute;
}

.main .alternative span::before, .main .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    right: 50px;
    background: var(--dark);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #0000001c;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: var(--branco);
    font-size: 1rem;
    border: 1px solid var(--dark);
    border-radius: 8px;
}

main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: var(--fundo);
    color: var(--branco);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: var(--primaria);
}

section.images {
    display: flex;
    align-items: flex-end; /*alinhar todos os elementos no final da página*/
    padding: 4rem;
    background-color: var(--branco);
}


/* footer */
footer{
    width: 100%;
    color: var(--dark);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--primaria);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--dark);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #fff;
}

#footer_subscribe p {
    color: var(--branco);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--secundaria);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: var(--branco);
    border: none;
    color: var(--primaria);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyrigth {
    display: flex;
    justify-content: center;
    background-color: var(--branco);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* responsividade */